version: "3.8"
services:
  discovery:
    build: ./discovery-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=default
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery
  product-service:
    build: ./product-service
    ports:
      - "8081:8081"
    depends_on:
      - discovery
  user-service:
    build: ./user-service
    ports:
      - "8082:8082"
    depends_on:
      - discovery
