# .gitlab-ci.yml
image: maven:3.9.6-eclipse-temurin-17

stages:
  - build
  - test

build-job:
  stage: build
  script:
    - echo "Building the Maven project..."
    - mvn clean compile
  artifacts:
    paths:
      - target/

test-job:
  stage: test
  script:
    - echo "Running JUnit tests..."
    - mvn test
  dependencies:
    - build-job
